@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span class="badge badge-primary">Blazor JWT Generator</span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
